package main

func init() {
	${.Receiver} := &${.TypeName}{}
	challenges[${.DayNum}] = &challenge{"${.Name}", "input/day${.Day}.txt", ${.Receiver}}
}

type ${.TypeName} struct {
}

func (${.Receiver} *${.TypeName}) parseFile(lines []string) error {
	return nil
}

func (${.Receiver} *${.TypeName}) parse(line string) error {
	return nil
}

func (${.Receiver} *${.TypeName}) part1() (string, error) {
	return "", nil
}

func (${.Receiver} *${.TypeName}) part2() (string, error) {
	return "", nil
}
